.about-container {
    /* background-color: hsl(264, 34%, 49%); */
    background-color: rgb(199,169,246);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 4rem;
}

.about-section {
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.about-section h1 {
    font-size: 3rem;
    font-weight: bold;
    width: 90%;
    margin: 1rem auto;
    margin-top:10vh;
    margin-bottom: 1rem;
}

.about-section h2 {
    font-size: 2rem;
    font-weight: bold;
    flex: auto;
    margin:1rem;
}

.about-description{
    width: 90%;
    margin: 1rem auto;
    font-weight: bold;
    margin-bottom: 5vh;
}

.about-description p{
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}