.about-container {
    /* background-color: hsl(264, 34%, 49%); */
    background-color: rgb(199,169,246);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.about-section {
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.about-section h1 {
    font-size: 3rem;
    font-weight: bold;
    width: 90%;
    margin: 1rem auto;
    margin-top:10vh;
    margin-bottom: 1rem;
}

.about-section h2 {
    font-size: 2rem;
    font-weight: bold;
    flex: auto;
    margin:1rem;
}

.about-description{
    width: 90%;
    margin: 1rem auto;
    font-weight: bold;
    margin-bottom: 5vh;
    align-items: center;
    justify-content: center;
}

.about-description p{
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

.arrow {
    text-align: center;
    margin: auto;
    font-size: 2em;
    margin-bottom: 3.5%;
    opacity: 70%;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-25px);
    }
    60% {
        transform: translateY(-10px);
    }
}