.education-container {
    width: 100%;
    overflow: hidden;
    white-space: wrap;
    text-align: center;
}

.education-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.education-section h1 {
    font-size: 3rem;
    font-weight: bold;
    width: 90%;
    margin: 1rem auto;
    margin-bottom: 1rem;
    padding-top: 6rem;
}

.education-section h2 {
    font-size: 2rem;
    width: 90%;
    margin: 1rem auto;
    font-weight: bold;
}

.education-section h3 {
    font-size:1.25rem;
    text-wrap: true;
    margin:1rem;
    font-weight:bold;
    text-align: center;
}

.education-box{
    width: 90%;
    margin: 1rem auto;
    background-color: white;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2);
}