/* .custom-position {
    object-position: 60% -3px;
} */

.home-container {
    height: 100vh;
}

.home-section {
    overflow: hidden;
    white-space: nowrap;
    margin-top: 50px;
}

.home-image {
    position: absolute;
    top: 15%;
    left: 62vh;
    object-position: 3%;
}

.home-section h1 {
    position: absolute;
    font: 80px/1.1em 'opensans-bold', sans-serif;
    font-weight: 600;
    top: 70%;
    left: 50%; /* 62 */
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 3px purple;
}

.home-section h2 {
    position: absolute;
    font: 32px/1.1em 'opensans-bold', sans-serif;
    font-weight: 600;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 3px  purple;
}