.home-container {
    height: 100vh;
}

.home-section {
    overflow: hidden;
    white-space: nowrap;
    margin-top: 50px;
    /* flex-direction: columns; */
}

.home-image {
    position: absolute;
    align-self: auto;
    top: 15%;
    left: 62vh;
    object-position: 3%;
}

.custom-position {
    object-position: 50% 50%;
}

.home-section h1 {
    position: absolute;
    align-self: auto;
    font-size:5rem;
    font-weight: 800;
    top: 70%;
    left: 50%; /* 62 */
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 3px whitesmoke;
}

.home-section h2 {
    position: absolute;
    align-self: auto;
    font-size: 2rem;
    font-weight: 600;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 3px  whitesmoke;
}