.projects-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.projects-section {
    width: 95%;
    text-align: center;
}

.projects-section h1 {
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    text-align: center;
    width: 90%;
    margin: 1rem auto;
    margin-bottom: 1rem;
    padding-top: 6rem;
}

.projects-grid {
    overflow: hidden;
    text-align: center;
    /* display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem; */
}

.project-card {
    background-color: white;
    font-size: 2rem;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: rgb(42, 10, 91); /* custom purple-900*/
    min-height: 100%;
    margin: 1rem;
}

.project-card h2 {
    font-size: 2rem;
    font-weight: bold;
    white-space: wrap;
    margin: .5rem 0 auto;
}

.project-card h3 {
    font-size: 1.25rem;
    font-weight: normal;
    white-space: wrap;
    align-self: flex-start;
    margin: 1rem auto;
}

.project-card img {
    margin: .25rem auto;
    height:auto;
    max-width:95%;
    -webkit-user-drag: none;
}