.skills-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.skills-section {
    width: 95%;
    text-align: center;
}

.skills-section h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 1rem auto;
    margin-bottom: 1rem;
    padding-top: 6rem;
}

.skills-grid {
    overflow: hidden;
    text-align: center;
}

.skills-card {
    font-size: 2rem;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    color: rgb(42, 10, 91); /* custom purple-900*/
    margin: 1rem;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.icon-large{
    opacity: 70%; 
    margin-top:1rem;
    font-size: 2em;
}

.skills-card h2 {
    font-size: 2rem;
    font-weight: bold;
    white-space: wrap;
}

.skills-card h3 {
    font-size: 1rem;
    font-weight: normal;
    white-space: wrap;
    opacity: 70%;
    margin-bottom: 1rem;
}

.skills-card h3.small-font {
    font-size: 1rem;
}